#logo { 
  width: 500px;
  height: 500px; 
}
#logo g .innercircle {
   fill: #464646;
}
.donutArcs {
    fill: #464646;
    stroke: #464646;
}
.textpath {
    fill: #fff;
}
svg text {
    fill: #fff;
    font-family: 'Fira Mono';
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}